{% extends 'cafe/base.html' %}

{% block content %}
{% load static %}
<header class="bg-cool py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Search Menu Item</h1>
            <p class="lead fw-normal text-white-50 mb-0">your favourite food with just a tap</p>
        </div>
    </div>
</header>


<body>
    <!-- Section-->

    <div class="card fooditem-cool">
        <h5 class="card-header text-white-50">Search for your favourite food</h5>
        <div class="card-body">
            <form action="{% url 'search' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="searched" class="rounded" placeholder="search food"/>
                <button type="submit" class="btn btn-trans btn-sm">search</button>
            </form>
            <div>
                {% if query %}
                    <p>you searched for...</p> 
               {% endif %}
                {{query}}
            </div>
        </div>
    </div>



<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for menuitem in searched %}
            {% if menuitem.is_offer %}
            <div class="col mb-5">
                <div class="card offer-cool h-100">
                    <!-- Offer badge-->
                    <div class="badge bg-dark text-white position-absolute offer-anime"
                        style="top: 0.5rem; right: 0.5rem">Offer
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ menuitem.image.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ menuitem.name }}</h5>
                            <!-- Product price-->
                            <strike>{{ menuitem.price }}</strike>
                            {{ menuitem.selling_price }}
                            <a href="{% url 'cart-add' menuitem.slug %}" id="add-btn" onclick="addToCart(event)"
                                class="btn btn-trans">Add To Cart</a>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        {% if menuitem.slug %}
                        <a class="btn btn-view mt-auto" href="{% url 'menu-item' menuitem.slug %}">View menu
                            item</a>
                        {% else %}
                        <span>Slug is missing for this menu item</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col mb-5">
                <div class="card fooditem-cool h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ menuitem.image.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ menuitem.name }}</h5>
                            <!-- Product price-->
                            {{ menuitem.price }}
                            <a href="{% url 'cart-add' menuitem.slug %}" id="add-btn" onclick="addToCart(event)"
                                class="btn btn-trans">Add To
                                Cart</a>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        {% if menuitem.slug %}
                        <a class="btn btn-view mt-auto" href="{% url 'menu-item' menuitem.slug %}">View menu
                            item</a>
                        {% else %}
                        <span>Slug is missing for this menu item</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <!-- Product actions-->
        </div>
    </div>
</section>

</body>
{% endblock %}
