{% extends 'cafe/base.html' %}

{% block content %}
<center>
    <div class="row mb-3 margin-from-fixed-top ">
        <div class="col-8">

            <form method="POST" action="{% url 'update-user' %}" class="p-4 p-md-5 border rounded-3  form-margin">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-secondary">Update Profile</button>
            </form>
            <a href="{% url 'update-password' %}" class="btn btn-sm btn-trans mt-3">update-password</a>

        </div>
    </div>
</center>
{% endblock %}